@font-face {
  font-family: "HaasGroteskRegular";
  src: url("./NeueHaasGroteskRegular.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "HaasGroteskMedium";
  src: url("./NeueHaasGroteskMedium.otf");
  font-style: medium;
  font-weight: bold;
  font-display: swap;
}